.stats-card{
    background:white;
    border-radius:18px;
    padding:25px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.stats-icon{
    width:55px;
    height:55px;
    border-radius:15px;
    margin-bottom:20px;
}

.stats-card h3{
    font-size:32px;
}

.stats-card p{
    color:#64748B;
}