.container{

    width:95%;
    max-width:1500px;
    margin:auto;

}

.flex{

    display:flex;

}

.grid{

    display:grid;

}

.center{

    display:flex;
    justify-content:center;
    align-items:center;

}